<h3>Hi <%= @user.name %></h3>

<p>To reset your password click the URL below. The link is valid for only <%= ENV['password_token_expiry_time'] %> % hours</p>

<%= reset_password_url(reset_token: @user.password_reset_token) %>