<h3>Hi <%= @user.name %>,</h3>

<p>Thanks for registering! To confirm your registration clicking on Confirm Account below.</p>

<p>
<%= link_to  "Confirm Account", verify_url(token: @user.confirmation_token) %>
</p>