<div class="display-container">
  <span class="btn btn-primary mr-3"><%= link_to  "Manage Users", admin_users_path, class: "text-white" %></span>
  <span class="btn btn-danger mr-3"><%= link_to  "Manage Questions", admin_questions_path, class: "text-white" %></span>
  <span class="btn btn-dark mr-3"><%= link_to  "Manage Credit Packs", admin_credit_packs_path, class: "text-white" %></span>
</div>