<% if object.errors.any? %>
  <div class="card border-danger mb-3 row-fluid">
    <div class="card-header">Cannot create account</div>
    <div class="card-body">
        <div id="error_explanation">
          <ul>
            <% object.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
