<% if notice %>
  <div class="container alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong><%= notice %></strong> 
  </div>
<% end %>