<div class="question-container">
  <%= render  "shared/notice" %>
  <% if @questions.any? %>
    <%= render @questions %>
  <% else %>
    <p>No Questions </p>
  <% end %>
  <nav aria-label="Page navigation example">
    <div class="pagination justify-content-center">
      <%= will_paginate @questions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  </nav>
</div>
