<div>
  <p><%= link_to answer.body, answer %></p>
  <% if answer.published %>
    <span class="btn btn-danger"><%= link_to  "Unpublish", unpublish_admin_answer_path(answer), class: "text-white" %></span>
  <% else %>
    <span class="badge badge-dark ">Unpublished</span>
  <% end %>
</div>
<hr class="my-2 border-success w-25">
  