 <div class="row">
  <div class="col-1">
    <% if user.avatar.attached? %>
      <%= image_tag(user.avatar, class: "rounded-circle", size: "50") %>
    <% end %>
  </div>

  <div class="col-1 my-auto">
    <%= link_to user.name, user %>
  </div>

  <div class="col-1 my-auto">
    <% unless user.disabled %>
      <span class="btn btn-danger m-2"><%= link_to  "Disable", disable_admin_user_path(user), class: "text-white" %></span>
    <% else %>
      <span class="badge badge-dark m-2">Disabled</span>
    <% end %>
  </div>
  <div class="col-1 my-auto">
    <%= link_to "Manage", admin_user_path(user)  %>
  </div>
</div>
<hr class="my-2 border-success w-50">
  