<% if credit_transaction.signup?  %>
  <tr class="table-success">
<%  elsif credit_transaction.debit? %>
  <tr class="table-danger">
<%  elsif credit_transaction.revert? %>
  <tr class="table-warning">
<% else %>
  <tr class="table-info">
<% end %>
  <td><%= credit_transaction.transaction_type %></td>
  <td><%= credit_transaction.amount %></td>
  <td><%= credit_transaction.credit_balance %></td>
  <td><%= credit_transaction.created_at %></td>
</tr>